{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link href="{% static 'css/about.css' %}" rel="stylesheet" />

</head>
<div class="about-container">
    <div class="about-section">
        <div class="text-content">
                        <h1>      About Us</h1>
            <p>WHIRLING IN RAGS was founded in 2024 as an effort to revolutionize the shopping experience for the blind and visually impaired by making stylish, high-quality clothing accessible and enjoyable for everyone.</p>
            <p>We believe that fashion should be a joy, not a challenge, and we're here to ensure that every step of your shopping journey is smooth and inclusive.</p>
            <p>Our aim is to concentrate on carefully designed and thoughtful silhouettes with sharp and memorable patterns. Crafted from fabrics selected for their quality and designed for everyday wear, we focus on timeless style that will last a long time.</p>
            <p>Everything at Atelier is made with purpose to enhance and ease the browsing experience of our customers: a collaborative effort between our small and dedicated department and the wider studio here at Whirling in Rags.</p>
            <p>We don't single out any one person as a clothing designer as our characters are usually the creative work of many people. Exceptions to this are cases where an item is the creation of a single artist, or when the concept and manufacture of a piece is the work of an artist but sold by us. In such cases, the artist's name will appear in the product information section.</p>
        </div>
        <div class="image-content">
            <img src="{% static 'Za.jpg' %}" alt="Jacket Model">
        </div>
    </div>

    <div class="about-section">
        <div class="image-content">
            <img src="{% static 'zaum.png' %}" alt="Man Profile">
        </div>
        <div class="text-content">
            <p>We focus on being as sustainable as we reasonably can and the most responsible version of ourselves.</p>
            <p>We produce artifacts in small quantities to allow our team to get close to the entire process. That means we can ensure there is no overproduction, we reduce waste, and are able to maintain our high standard for quality.</p>
            <p>All garment products are produced in Egypt and all have their own dedicated seamstresses. Over time we have built a strong relationship with them to bring you the best quality possible.</p>
            <p>We get to know all of our partners, so we can answer ‘who made our clothes’ at every level of production. All our cooperation partners meet the working standard. It is our mission to work with them and have full overview and transparency on what is happening at working conditions. We limit the amount of dead stock and overproduction to ensure we use every strand of yarn to the end.</p>
        </div>
    </div>
</div>
{% endblock %}
